[Unit]
Description=autoBoot systemd service

[Service]
Type=simple
Environment=HOME=/home/rover
WorkingDirectory=/home/rover/rovers-basestation
ExecStart= /bin/bash /home/basestation/rovers-basestation/autoBoot/autoBoot.sh
#ExecStart=/usr/bin/python3 /home/basestation/ros/rovers-ros/src/externalScript/autoBoot.py
[Install]
WantedBy=multi-user.target